{% extends 'layout.html.twig' %}

{% block content %}

	{% include 'Reservation/_form.html.twig' %}
	<div class="mt-3">
	<label class="form-label"></label>
	<select name="travel" class="form-control">
	<option value="">--Choisissez votre voyage--</option>
		{% for expedition in expeditions %}

			<option value="{{ expedition.planet_name }},{{ expedition.name }},{{ expedition.time }},{{ expedition.price }}">{{ expedition.planet_name }} | {{ expedition.name }} | {{ expedition.time }} jours | {{ expedition.price }} $</option>

		{% endfor %}
	</select>
	<button class="btn btn-light mt-5">Réservez votre voyage</button>
	</div>
	</div>
	</div>
	</form>
{% endblock %}

